/* 
    Syntax of using CSS rules:
    selector{
        property: value;
    }
 */
*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

 h1{
    color:royalblue;
    font-size: 30px;
    
 }

 #zuittMotto{
    letter-spacing: 5px;
    color: royalblue;
 }

 .offeringItem{
    text-transform: uppercase;
    color: deeppink;
 }

[required]{
    border-width: 2px;
    border-style: solid;
    border-color: salmon;
    width: 90%;
}

h3 + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

#bootcampLearningList > li{
    color: #ffb7c5;
}

h2 ~ a {
    text-decoration: none;
}

form > label{
    color:rgb(0, 0, 0);
}

body{
    background-color: #B7FFF1;
}
section{
    height: 100vh;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #ffb7c5;
}

a:hover{
    background-color: #ffb7c5;
}

div{
    display: inline;
    float: left;
}
ol{
    list-style-type: none;
}

form{
    text-align: center;
    background-color:#ffb7c5;
    border-width: 2px;
    border-style: solid;
    border-color: salmon;
    height: 185px;
    width: 25vw;
    position: relative;
    left: 37.5%;
}

button{
    background-color: salmon;
    color: black;
    border: 0;
    border-radius: 15px;
    
}
