* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Zilla Slab', serif;
}

nav {
    padding: 15px;
    position: sticky;
    top: 0;
}

.right-nav {
    float: right;
}

.nav {
    list-style-type: none;
    display: inline-block;
    margin: 8px;
    position: relative;
    right: 8vw;
}

.tuitt-button {
    padding: 8px;
    border-radius: 25px;
    background-color: #c2195b;
    border: none;
    color: white;
    font-weight: bold;
}

.nav-logo {
    list-style-type: none;
    padding: 15px;
    float: left;
}

#logo {
    position: relative;
    left: 8vw;

}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    margin-top: 10px;
    min-width: 100vw;
}


.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70vh;
}

.container{
    color: white;
    opacity: 1;
    text-align: right;
    margin-left: 50%;
    margin-right: 15%;
}

.container > .title, .subtitle{
    padding: 2%;
    margin-bottom: 0.2rem;
}


.apply-button{
    padding: 8px;
    border-radius: 25px;
    background-color: #c2195b;
    border: none;
    color: white;
    font-weight: bolder;
}



.intro {
    text-align: center;
    padding-top: 2rem;
}

.intro-description{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.pre-footer{
    background-color: #f7fbfb;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

}

.title-2{
    text-align: center;
    padding-bottom: 1rem;
}

.prefooter-description{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}


.book-button{
    align-items: center;
    color: white;
    background-color: rgb(121, 121, 182);
    font-weight: bold;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    border: 0;
}

footer{
    display: inline-block;
    padding: 0.7rem;
    padding-left: 378px;
}

footer span {
    text-align: center;
    margin-left: 20px;
}
