*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: "Helvetica Neue", sans-serif;
}

.text-center{
    text-align: center;
}

.h-25{
    height: 25%;
}

.p-3{
    padding: 1rem;
}

.bg-success{
    background-color: forestgreen;
}

.bg-warning{
    background-color: yellow;
}

.bg-danger{
    background-color: darkred;
}

.bg-secondary{
    background-color: gray;
}

.flex{
    display: flex;
}