#div1{
    background-color: lawngreen;
    display: inline; 
}

#span1{
    background-color: rosybrown;
    display: inline;
    width: 200px;
    height: 200px;
}

#span2{
    background-color: hotpink;
    display: block;
}

#div2{
    background-color: #77fbc0;
    display: none;
}

#img{
    width: 1000px;
    height: 250px;
}

#p1{
    background-color: #ffb7c5;
}

#p2{
    background-color: rgb(230, 101, 90);
    width: 60%;
}

#p3{
    background-color: yellow;
    width: 40%;
}

.sample{
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    text-align: center;
}

/* float poperty */

.imgFloat{
    width: 250px;
    height: 250px;
    float: left;
}

/* CSS units */

.box {
    background-color: red;
    border: 1px solid black;
    margin: 5px;
}

.fiftyPercent {
    width: 50%;
}

.oneHundredPixels{
    width: 100px;
}


.fiftyVw {
    width: 50vw;
}

.twentyFiveVh {
    height: 25vh;
}

.oneRem {
    font-size: 1rem;
}
.oneEm {
    font-size: 1em;
}

.twoRem {
    font-size: 2rem;
}

.twoEm {
    font-size: 2em;
}

.parent {
    width: 135px;
    border: 2px solid navy;
    font-size: 30px;
}

.twoHundredPercent {
    font-size: 200%;
}

.background {
    min-height: 100vh;
    /* background-color: #ffb7c5; */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: scroll;
}

.bgTitle {
    color: white;
    text-align: center;
    font-size: 5em;
    margin: 0;
    line-height: 35rem;
}

.containerBg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.parentElement {
    background-color: skyblue;
    padding: 10px;
    position: relative;
    height: 800vh;
}

.childOne {
    background-color: #ffb7c5;
    padding: 10px;
}

.childTwo {
    background-color: #77fbc0;
    padding: 10px;
    position: sticky;
    top: 10px;
}

.childThree{
    background-color: #ffb7c5;
    padding: 10px;
}

html {
    height: 800vh;
}

/* z-index elements */

.container {
    position: relative;
}

.blackBox {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}

.grayBox {
    position: absolute;
    z-index: 3;
    background: lightslategray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}

.greenBox {
    position: absolute;
    z-index: 2;
    background-color: lightgreen;
    width: 35%;
    left: 270px;
    top: -25px;
    height: 100px;
}