body>p+p+p{
    color: #ffb7c5;
}

*{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 35px;
}

#introduction{
    text-transform: uppercase;
}

.languages{
    background-color: #ffb7c5;
}

.tools{
    border: 1px solid #ffb7c5;
}

#toLearn img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

#toLearn ~ p{
    text-align: center;
}

#toLearn > ol{
    list-style: none;
    letter-spacing: 5px;
}
